<span class="head" *ngIf="!onOverHead">{{head}}<button mat-button (click)="addSearchParam()"><i class="material-icons">search</i></button></span>
<div class="grid-complex" *ngIf="onOverHead">
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip
      *ngFor="let propChip of propertiesChips"
      [selectable]="true"
      [removable]="true"
      (removed)="removeShip(propChip)">
      {{propChip.display}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>

  <div class="fild-multiple">
    <form [formGroup]="formParamsGrid" >
      <mat-select formControlName="property" *ngIf="paramGrid[0]">
          <mat-option *ngFor="let prop of paramGrid" [value]="prop.property">
            {{prop.head}}
          </mat-option>
        </mat-select>
        <mat-form-field *ngIf="paramGrid[0]">
            <input matInput formControlName="inputSearch">
          </mat-form-field>
          <mat-select  formControlName="typeComparator" *ngIf="paramGrid[0]">
              <mat-option value="==">==</mat-option>
              <mat-option value="Contains">Contains</mat-option>
          </mat-select>
          <button *ngIf="inputSearch.valid && paramGrid[0]" type="button" mat-button (click)="addItem()"><i class="material-icons" style="color: green">add_box</i></button>
          <button mat-button (click)="clearProp()"><i class="material-icons" style="color: red">clear</i></button>
        </form>
  </div>

</div>
