<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="aboveMenu">Categories</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item [routerLink]="['/customers']" >List</button>
    <button mat-menu-item [routerLink]="['/customers/new']" >New</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="belowMenu">Entries</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item [routerLink]="['/entries']" >List</button>
    <button mat-menu-item [routerLink]="['/entries/new']" >New</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="beforeMenu">Tools</button>
  <mat-menu  #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item [routerLink]="['/editor-text']" >Text Editor</button>
    <button mat-menu-item [routerLink]="['/entries/new']" >New</button>
  </mat-menu>


  <button mat-button [matMenuTriggerFor]="afterMenu">{{'APP.LANGUAGE' | translate }}</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button *ngFor="let lang of translate.getLangs()" (click)="translatePage(lang)" mat-menu-item>{{lang}}</button>
  </mat-menu>
</mat-toolbar>


<router-outlet></router-outlet>
