<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
   <div style="display: flex; flex-direction: column;">
      <p *ngFor="let param of data.tableParams">Teste</p>
            <!-- <app-params-grid *ngFor="let param of data.tableParams"
            [placeHolder]="'asdfa'"
            [head]="'asdfs'"
            [property]="'Street'"
            (paramsSearch)="addParamSearch($event)"
            (clear)="clear($event)">
          </app-params-grid > -->
          <!-- <app-params-grid
            [placeHolder]="'Number'"
            [head]="'Number'"
            [property]="'Number'"
            (paramsSearch)="addParamSearch($event)"
            (clear)="clear($event)">
          </app-params-grid > -->
          </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.search" cdkFocusInitial>Ok</button>
</div>
