<div class="container-component">
  <span class="head" *ngIf="!onOverHead" >{{paramGrid[0].head}}<button mat-button (click)="addSearchParam()"><i class="material-icons">search</i></button></span>
  <div class="container" *ngIf="onOverHead" >
     <form [formGroup]="formParamsGrid">
      <mat-form-field class="input">
        <input
        appAutoFocus
        matInput
        autocomplete="off"
        [placeholder]="paramGrid[0].head"
        formControlName='inputSearch'>
      </mat-form-field>
      <mat-form-field class="type">
        <mat-label>Comparator</mat-label>
        <mat-select formControlName="typeComparator">
          <mat-option *ngFor="let comparator of comparators" [value]="comparator">{{comparator}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="actions">
        <!-- <button mat-button (click)="sendSearch()"><i class="material-icons" style="color: green">save</i></button> -->
        <button mat-button (click)="clearProp()"><i class="material-icons" style="color: red">clear</i></button>
      </div>
     </form>
  </div>
</div>
